<div class="login-box">
    <h2>Inicio de sesion</h2>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Nombre</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Contraseña</label>
        </div>
        <a routerLink="./../home">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Iniciar Sesion
        </a>
        <a routerLink="./../home">Autocompletar</a>
    </form>
</div>